<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Layout3</title>
<style type="text/css">
.wrap {width: 960px; height:800px; margin: 0 auto; text-align: center; font-size: 30px; color:#fff;}
.sidebar {width: 360px; height:800px; line-height: 800px; background-color: #bcaaa4; float: left;}
.header {width: 600px; height:200px; line-height: 200px; background-color: #a1887f; float: left;}
.contents {width: 600px; height:400px; line-height: 400px; background-color: #8d6e63; float: left;}
.footer {width: 600px; height:200px; line-height: 200px; background-color: #795548; float: left;}
</style>
</head>

<body>

	<div class="wrap">
    	<div class="sidebar">sidebar</div>
        <div class="header">header</div>
        <div class="contents">contents</div>
        <div class="footer">footer</div>
    </div>

</body>
</html>




