<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
		#wrap {width: 960px; height: 900px; margin: 0 auto;}
		header {width: 960px; height: 100px; background-color: #111;}
		nav {width: 960px; height: 100px; background-color: #222;}
		aside {float: left; width: 360px; height: 600px; background-color: #333;}
		section {float: left; width: 600px; height: 600px; background-color: #444;}
		footer {clear: both; width: 960px; height: 100px; background-color: #555;}
	</style>
</head>
<body>
	<div id="wrap">
		<header>header</header>
		<nav>nav</nav>
		<aside>side</aside>
		<section>contents</section>
		<footer>footer</footer>
	</div>
</body>
</html>



