@charset "utf-8";

/* 스킵 내비게이션 */
#skip {}
#skip a {position: absolute; left: 0px; top: -35px; width: 140px; text-align: center; border: 1px solid #fff; color: #fff; background: #333; line-height: 30px;}
#skip a:active,
#skip a:focus {top: 0px;}


/* 레이아웃 */
#wrap {}
#header {height: 325px; background: url(../img/header_bg.jpg) repeat-x center top;}
#contents {}
#footer {height: 200px; background: #111;}

/* 컨텐츠 레이아웃 */
#cont_nav {height: 200px; background: #333;}
#cont_tit {height: 200px; background: #444;}
#cont_ban {height: 200px; background: #555;}
#cont_cont {height: 200px; background: #666;}

/* 컨테이너 */
.container {width: 990px; margin: 0 auto; height: inherit; background: rgba(255,255,255,0.3);}

/* 헤더 */
.header {}
.header .header-menu {text-align: right;}
.header .header-menu a {color: #fff; padding: 10px 0 10px 13px; display: inline-block;}
.header .header-menu a:hover {color: #666;}











	