<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        #wrap {width: 1170px; margin: 0 auto;}
        #header {width: 1170px; height: 100px; background-color:#111; }
        #banner {width: 1170px; height: 500px; background-color:#222;}
        #content1 {width: 1170px; height: 400px; background-color:#333;}
        #content2 {width: 1170px; height: 400px; background-color:#444;}
        #content3 {width: 1170px; height: 400px; background-color:#555;}
        #footer {width: 1170px; height: 100px; background-color:#666;}
    </style>
</head>
<body>
    <div id="wrap">
        <div id="header">header</div>
        <div id="banner">banner</div>
        <div id="content1">content1</div>
        <div id="content2">content2</div>
        <div id="content3">content3</div>
        <div id="footer">footer</div>
    </div>
</body>
</html>